:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
  gap: 5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.w-100 {
  width: 100%;
}

.card {
  width: clamp(15rem, 30rem, 35%);
}
