<p class="myBtn details__btn" (click)="goBack()">&larr; Wstecz</p>
<div class="wrapper" *ngIf="trip; else error">
	<div class="details">
		<div class="details__left-box">
			<img [src]="trip.galleryUrl" class="details__img" />
		</div>
		<div class="details__right-box">
			<div class="details__title-box">
				<h1 class="details__title">{{ trip.title }}</h1>
				<div class="details__star-box">
					<app-rating-star
						[value]="index"
						[pickedValue]="trip.rate"
						(onStarClick)="rateTrip($event)"
						*ngFor="let star of stars; let index"
					></app-rating-star>
					<p class="details__star-count">({{ this.trip.rateNumber }})</p>
				</div>
				<p class="details__countries">
					{{ trip.country }} &rarr; {{ trip.dest }}
				</p>
				<p class="details__date">
					<span class="details__span">od</span
					>{{ trip.startDate | date : 'shortDate' }}
					<span class="details__span">do</span>
					{{ trip.endDate | date : 'shortDate' }}
				</p>
			</div>
			<p class="details__desc">
				{{ trip.desc }}
			</p>
			<p class="details__capacity">
				Cena:
				<span class="details__emph"
					>{{ trip.price | exchangeMoney : trip.currency : getCurrency() }}
					{{ getCurrency() }}</span
				>
			</p>
			<p class="details__capacity">Max ilość miejsc: {{ trip.totalAmount }}</p>
			<p class="details__current-capacity">
				Wolnych miejsc: {{ trip.currentAmount }}
			</p>
		</div>
	</div>

	<div class="cta">
		<button
			class="myBtn cta__btn"
			[ngClass]="{ hidden: trip.currentAmount === 0 }"
			(click)="onButtonClick(true)"
		>
			+
		</button>
		<p class="cta__quantity">Dostępnych: {{ trip.currentAmount }}</p>
		<button
			class="myBtn cta__btn"
			[ngClass]="{ hidden: reservedAmount === 0 }"
			(click)="onButtonClick(false)"
		>
			-
		</button>
	</div>

	<div class="slider__wrapper">
		<ngb-carousel
			#carousel
			[interval]="5000"
			[pauseOnHover]="pauseOnHover"
			[pauseOnFocus]="pauseOnFocus"
			(slide)="onSlide($event)"
			class="slider__box"
		>
			<ng-template ngbSlide *ngFor="let img of images; index as i">
				<div class="picsum-img-wrapper slider">
					<img [src]="img" class="slider__img" />
				</div>
			</ng-template>
		</ngb-carousel>
	</div>

	<div class="opinion">
		<button class="myBtn myBtn--primary myBtn--big" (click)="openForm()">
			{{ !isFormOpen ? 'Otwórz formularz' : 'Zamknij formularz' }}
		</button>
		<app-opinion-form
			(onSubmit)="addOpinion($event)"
			[tripName]="trip.title"
			class="form-box"
			*ngIf="isFormOpen"
		></app-opinion-form>
		<div class="opinion__item" *ngFor="let opinion of opinions">
			<div class="opinion__top-box">
				<p class="opinion__trip-name">{{ opinion.tripName }}</p>
				<p class="opinion__nick">{{ opinion.nick }}</p>
				<p class="opinion__date">
					{{ opinion.date | date : 'shortDate' }}
				</p>
			</div>
			<p class="opinion__text">
				{{ opinion.opinion }}
			</p>
		</div>
	</div>
</div>

<ng-template #error>
	<div class="spinner__wrapper">
		<div
			*ngIf="!trip && isFetching"
			class="spinner-border"
			style="width: 3rem; height: 3rem; padding: 2rem"
			role="status"
		>
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<div class="error" *ngIf="!isFetching">
		<h1 class="error__title">ERROR!</h1>
		<p class="error__text">Illeagal Operation</p>
	</div>
</ng-template>

