<nav class="nav">
	<p class="nav__logo">Tripper</p>

	<div class="nav__bars" (click)="isMobbile && toggleMenu()" *ngIf="isMobbile">
		<div class="nav__bar" [ngClass]="{ 'bar-open': isMenuOpen }"></div>
	</div>
	<div
		class="nav__link-box"
		[ngClass]="{ 'open-menu': isMenuOpen }"
		(click)="isMobbile && toggleMenu()"
	>
		<a routerLink="home" class="nav__link" routerLinkActive="active"
			><p class="nav__link-text">Home</p></a
		>
		<a routerLink="trips" class="nav__link" routerLinkActive="active"
			><p class="nav__link-text">Wycieczki</p></a
		>
		<a routerLink="add" class="nav__link" routerLinkActive="active"
			><p class="nav__link-text">Dodaj Wycieczkę</p></a
		>
		<a routerLink="history" class="nav__link" routerLinkActive="active"
			><p class="nav__link-text">Historia Wycieczek</p></a
		>
	</div>

	<div class="nav__right-box">
		<div
			[ngClass]="{
				shake: isShaking,
				red: getCartItmesSize() < 10,
				green: getCartItmesSize() > 10
			}"
			class="nav__in-cart"
		>
			<p class="nav__cart-sum">
				{{
					getCartSum() | exchangeMoney : getCurrency() : getCurrentCurrency()
				}}
				{{ getCurrentCurrency() }}
			</p>
			<p class="nav__cart-amount">
				{{ getCartItmesSize() }}
			</p>
		</div>
		<div class="nav__cart-box" (click)="onCartClick()">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 24 24"
				class="feather feather-shopping-cart nav__cart"
			>
				<circle cx="9" cy="21" r="1"></circle>
				<circle cx="20" cy="21" r="1"></circle>
				<path
					d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"
				></path>
			</svg>
		</div>
	</div>
</nav>

