<div class="trips">
	<app-side-nav class="side-nav"></app-side-nav>
	<div class="trip-list">
		<app-trip
			class="trip-item"
			*ngFor="
				let trip of trips
					| rateFilter
					| locationFilter
					| priceFilter
					| dateFilter
			"
			[trip]="trip"
			[isMostExpensive]="trip.isMostExpensive"
			(distinctTripsHandler)="onDistinctTrip()"
			(onRemoveTrip)="onRemoveTrip($event)"
		></app-trip>
	</div>
	<div class="spinner__wrapper" *ngIf="!trips.length">
		<div
			class="spinner-border"
			style="width: 3rem; height: 3rem; padding: 2rem"
			role="status"
		>
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</div>

