* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.selected {
	align-self: center;
}

.box div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background-color: #718de0;
	border: 1px solid #465ea4;
	border-radius: 5px;
}

.box div:first-of-type {
	height: 100%;
	align-items: start;
	padding: 20px 0;
}

.box {
	display: flex;
	height: 100%;
	padding: 0;
}
section {
	height: 300px;
	border: 1px solid royalblue;
}

@media screen and (max-width: 400px) {
	.box {
		flex-direction: column;
	}
	.box div:first-of-type {
		height: 100px;
		width: 100%;
		justify-content: start;
		align-items: center;
		padding: 0 20px;
	}
}

