@import '../variables.scss';
@import '../shared.scss';
@import 'normalize.css';

.nav {
	display: block;
	flex-wrap: nowrap;
	position: fixed;
	width: 22rem;
	min-height: 100vh;
	height: 100%;
	padding: 0 1rem;
	background-color: $white-color--nav;

	@media screen and (max-width: 550px) {
		position: relative;
		width: unset;
		padding: 0 5rem;
		min-height: unset;
		height: unset;
	}
}

