*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--blue: #2172f8;
	--red: #f64846;
	--black: #444444;
	--green: #27b865;
	--orange: #ff5424;
	--blue-img: './img/blue.png';
	--red-img: './img/red.png';
	--black-img: './img/black.png';
	--green-img: './img/green.png';
	--orange-img: './img/orange.png';
	--current-color: var(--blue);
	--font-color: #333;
	--current-img: var(--black-img);
	font-size: 62.5%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 1.6rem;
	background-color: #efefee;
	font-family: 'Roboto', sans-serif;
	color: var(--font-color);
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

#black:target {
	--current-color: var(--black);
	--current-img: var(--black-img);
}
#orange:target {
	--current-color: var(--orange);
	--current-img: var(--orange-img);
}
#green:target {
	--current-color: var(--green);
	--current-img: var(--green-img);
}
#red:target {
	--current-color: var(--red);
	--current-img: var(--red-img);
}
#blue:target {
	--current-color: var(--blue);
	--current-img: var(--blue-img);
}
.card__boot[color='blue'] {
	display: block;
	opacity: 1;
	visibility: visible;
}
body:has(div:target) .card__boot[color='blue'] {
	display: none;
	opacity: 0;
	visibility: hidden;
}
#blue:target .card__boot[color='blue'] {
	display: block;
	opacity: 1;
	visibility: visible;
}
#red:target .card__boot[color='red'] {
	display: block;
	opacity: 1;
	visibility: visible;
}
#green:target .card__boot[color='green'] {
	display: block;
	opacity: 1;
	visibility: visible;
}
#orange:target .card__boot[color='orange'] {
	display: block;
	opacity: 1;
	visibility: visible;
}
#black:target .card__boot[color='black'] {
	display: block;
	opacity: 1;
	visibility: visible;
}
#blue:target .card__left-box {
	background-image: linear-gradient(45deg, #0136af, #22abfa);
}
#red:target .card__left-box {
	background-image: linear-gradient(45deg, #d62926, #ee625f);
}
#green:target .card__left-box {
	background-image: linear-gradient(45deg, #11998e, #1ce669);
}
#orange:target .card__left-box {
	background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}
#black:target .card__left-box {
	background-image: linear-gradient(45deg, #111, #666);
}
#blue:target .card__color[color='blue'] {
	box-shadow: 0 0 0 0.5rem #fff, 0 0 5px 1rem rgba(0, 0, 0, 0.1);
}
#red:target .card__color[color='red'] {
	box-shadow: 0 0 0 0.5rem #fff, 0 0 5px 1rem rgba(0, 0, 0, 0.1);
}
#green:target .card__color[color='green'] {
	box-shadow: 0 0 0 0.5rem #fff, 0 0 5px 1rem rgba(0, 0, 0, 0.1);
}
#orange:target .card__color[color='orange'] {
	box-shadow: 0 0 0 0.5rem #fff, 0 0 5px 1rem rgba(0, 0, 0, 0.1);
}
#black:target .card__color[color='black'] {
	box-shadow: 0 0 0 0.5rem #fff, 0 0 5px 1rem rgba(0, 0, 0, 0.1);
}
input {
	display: none;
}
input#seven:checked ~ label[for='seven'] {
	background-color: var(--current-color);
	color: #fff;
}
input#eight:checked ~ label[for='eight'] {
	background-color: var(--current-color);
	color: #fff;
}
input#nine:checked ~ label[for='nine'] {
	background-color: var(--current-color);
	color: #fff;
}
input#ten:checked ~ label[for='ten'] {
	background-color: var(--current-color);
	color: #fff;
}
input#eleven:checked ~ label[for='eleven'] {
	background-color: var(--current-color);
	color: #fff;
}

/* Styles */

.card {
	display: flex;
	justify-content: center;
	width: 850px;
	height: 50rem;
}
.card__left-box {
	flex-basis: 60%;
	margin: 2.5rem;
	margin-right: 0;
	max-width: 450px;
	position: relative;
	padding: 1.5rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(45deg, #0136af, #22abfa);
}
.card__left-box::before {
	content: 'NIKE';
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 19rem;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.248);
}
.card__logo {
	position: absolute;
	left: 2rem;
	top: 2rem;
	width: 25%;
	object-fit: cover;
}
.card__share-icon {
	position: absolute;
	right: 1rem;
	width: 4rem;
	height: 4rem;
	fill: var(--current-color);
	stroke: var(--current-color);
	background-color: #fff;
	padding: 1.1rem;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.card__boot {
	position: absolute;
	width: 130%;
	background-image: url('./img/blue.png');
	background-size: cover;
	top: 55%;
	left: 30%;
	opacity: 0;
	visibility: hidden;
	transform: translate(-50%, -50%) rotate(-20deg);
	transition: visibility 0.3s, opacity 0.3s;
}
.card__right-box {
	flex-basis: 45%;
	background-color: #fff;
	position: relative;
	padding: 2.5rem 3rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card__heading {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.card__title {
	font-weight: bold;
	font-size: 3.2rem;
}
.card__badge {
	padding: 0.4rem 0.8rem;
	color: #fff;
	background-color: var(--current-color);
	border-radius: 5px;
	margin-left: 1rem;
	transition: background-color 0.3s;
}
.card__description {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}
.card__subtitle {
	text-transform: uppercase;
	padding: 1rem 0;
	font-size: 1.8rem;
	letter-spacing: 0.5px;
	border-top: 1px solid #0303031e;
}
.card__details {
	opacity: 0.9;
	padding-bottom: 1rem;
}
.card__group {
	display: flex;
	align-items: center;
	padding: 1rem;
	padding-top: 0;
	padding-bottom: 1.5rem;
	gap: 1.5rem;
}
.card__color,
.card__color:visited,
.card__color:link {
	display: block;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	transition: box-shadow 0.2s;
}
.card__color[color='blue'] {
	background-color: var(--blue);
}
.card__color[color='red'] {
	background-color: var(--red);
}
.card__color[color='green'] {
	background-color: var(--green);
}
.card__color[color='orange'] {
	background-color: var(--orange);
}
.card__color[color='black'] {
	background-color: var(--black);
}
.card__size-item,
.card__size-item:visited,
.card__size-item:link {
	width: 3.5rem;
	height: 3.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: var(--font-color);
	background-color: #efefef;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
}
.card__cta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	border-top: 1px solid #0303031e;
}
.card__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 1.5rem;
	text-transform: uppercase;
	border: none;
	color: #fff;
	gap: 0.5rem;
	letter-spacing: 0.5px;
	background-color: var(--current-color);
	cursor: pointer;
	transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.card__btn:hover {
	opacity: 0.8;
	transform: translateY(-3px) scale(1.02);
}
.card__btn:active {
	opacity: 1;
	transform: translateY(-1px) scale(0.98);
}
.card__icon-cart {
	width: 2rem;
	height: 2rem;
	stroke: #fff;
	stroke-width: 2px;
}
.card__price {
	position: relative;
	font-size: 3.5rem;
	font-weight: bold;
}
.card__price::before {
	content: '$';
	position: absolute;
	left: -1rem;
	font-size: 2.5rem;
}

@media screen and (max-width: 870px) {
	.card {
		width: 90%;
	}
	.card__left-box::before {
		font-size: 16rem;
	}
	.card__left-box {
		max-width: 300px;
	}
	:root {
		font-size: 50%;
	}
}
@media screen and (max-width: 734px) {
	.card {
		flex-direction: column;
		width: 350px;
	}
	.card__left-box {
		margin: 0;
		max-width: none;
	}
	.card__left-box::before {
		font-size: 18rem;
		top: 50%;
	}
	.card__right-box {
		width: 100%;
	}
	.card__boot {
		display: none;
		position: relative;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-55%, -45%) rotate(-5deg) scale(1.1);
	}
	.card__logo {
		width: 7rem;
	}
}
@media screen and (max-width: 455px) {
	.card {
		width: 300px;
	}
	.card__left-box::before {
		font-size: 15rem;
	}
	:root {
		font-size: 50%;
	}
}
@media screen and (max-width: 350px) {
	.card {
		width: 95%;
	}
	.card__left-box::before {
		font-size: 16rem;
	}
	:root {
		font-size: 45%;
	}
}
@media screen and (max-width: 290px) {
	.card__btn {
		padding: 1rem;
		font-size: 1.6rem;
		margin-right: 2rem;
	}
	.card__left-box::before {
		font-size: 14rem;
	}
	.card__icon-cart {
		display: none;
	}
}

