$primary-color: #a535f0;
$primary-color--500: #ae49f1;
$primary-color--600: #9162b1;
$primary-color--300: #631f90;
$secondary-color: #80f035;
$secondary-color--300: #59a825;
$white-color--nav: #f5eeff;
$white-color: #fbfffb;
$tertiary-color: #db3c30;
$invalid-color: #e70303;
$valid-color: #008001;

