/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

:root {
  font-size: 62.5%;
}

body {
  padding: 8rem;
  font-size: 1.6rem;
  font-family: sans-serif;
}
