<div class="wrapper">
  <app-card title="Informacje ogólne">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae
    quis dolor similique? Laudantium, expedita odit! Dolor exercitationem
    ratione inventore? Quasi nulla veniam ullam exercitationem libero expedita,
    amet numquam eius repellendus cumque culpa laboriosam ab ad quia suscipit
    consectetur commodi et quae aliquid delectus excepturi modi esse sunt! Eius
    similique hic unde autem. Praesentium perspiciatis eius ipsa, et minus
    quibusdam cupiditate, soluta, ullam mollitia asperiores dolor a impedit! Ad
    necessitatibus voluptate error id atque molestias doloremque, ut omnis
    dolore numquam!
  </app-card>
  <app-card title="Informacje ogólne">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae
    quis dolor similique? Laudantium, expedita odit! Dolor exercitationem
    ratione inventore? Quasi nulla veniam ullam exercitationem libero expedita,
    amet numquam eius repellendus cumque culpa laboriosam ab ad quia suscipit
    consectetur commodi et quae aliquid delectus excepturi modi esse sunt! Eius
    similique hic unde autem. Praesentium perspiciatis eius ipsa, et minus
    quibusdam cupiditate, soluta, ullam mollitia asperiores dolor a impedit! Ad
    necessitatibus voluptate error id atque molestias doloremque, ut omnis
    dolore numquam!
  </app-card>
  <app-card title="Informacje ogólne">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae
    quis dolor similique? Laudantium, expedita odit! Dolor exercitationem
    ratione inventore? Quasi nulla veniam ullam exercitationem libero expedita,
    amet numquam eius repellendus cumque culpa laboriosam ab ad quia suscipit
    consectetur commodi et quae aliquid delectus excepturi modi esse sunt! Eius
    similique hic unde autem. Praesentium perspiciatis eius ipsa, et minus
    quibusdam cupiditate, soluta, ullam mollitia asperiores dolor a impedit! Ad
    necessitatibus voluptate error id atque molestias doloremque, ut omnis
    dolore numquam!
  </app-card>
  <app-card title="Informacje ogólne">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam recusandae
    quis dolor similique? Laudantium, expedita odit! Dolor exercitationem
    ratione inventore? Quasi nulla veniam ullam exercitationem libero expedita,
    amet numquam eius repellendus cumque culpa laboriosam ab ad quia suscipit
    consectetur commodi et quae aliquid delectus excepturi modi esse sunt! Eius
    similique hic unde autem. Praesentium perspiciatis eius ipsa, et minus
    quibusdam cupiditate, soluta, ullam mollitia asperiores dolor a impedit! Ad
    necessitatibus voluptate error id atque molestias doloremque, ut omnis
    dolore numquam!
  </app-card>
</div>
