*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}

body {
	display: grid;
	grid-template-rows: repeat(2, 1fr) max-content fit-content(100%);
	grid-template-columns: 15rem repeat(7, 1fr);
	font-family: sans-serif;
	font-size: 1.6rem;
}

.header {
	position: relative;
	display: flex;
	align-items: center;
	color: #fff;
	padding: 3rem;
	grid-row: 1 /1;
	grid-column: 1 / -1;
	background-color: tomato;
	z-index: 2;
}
.nav {
	padding: 3rem;
	grid-row: 2/3;
	grid-column: 2/ 8;
	color: #fff;
	background-color: royalblue;
}
.main {
	grid-row: 3/4;
	grid-column: 2 /8;
}
.sidebar {
	padding: 3rem;
	grid-row: 2 /4;
	color: #fff;
}
.sidebar--left {
	padding: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
	grid-column: 1/ 2;
	background-color: rgba(255, 255, 255, 0.6);
	z-index: 0;
}
.sidebar--right {
	background-color: yellowgreen;
}

.footer {
	padding: 3rem;
	grid-row: -1;
	grid-column: 1 / -1;
	color: #fff;
	background-color: burlywood;
}
.personal-card {
	position: fixed;
}
.personal-card__img-box {
	padding: 1rem;
}
.personal-card__item--first {
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.personal-card__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;
	height: 7rem;
	width: 100%;
	color: rgb(42, 42, 42);
	font-size: 1.3rem;
	font-weight: bold;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.personal-card__name {
	text-align: center;
}
.personal-card__img {
	width: 100%;
	padding: 1rem;
	border: 3px dotted black;
}
.personal-card__label {
	top: 8px;
	position: absolute;
	font-size: 1rem;
	color: #444;
	text-transform: uppercase;
}
.personal-card__icon-box {
	display: flex;
	justify-content: center;
	align-items: center;
}
.personal-card__icon {
	fill: none;
	stroke-width: 2px;
	width: 2.4rem;
	height: 2.4rem;
	stroke: black;
	margin: 1rem;
	border: 1px solid black;
	border-radius: 50%;
}
.card {
	margin: 0 auto;
	margin-bottom: 5rem;
}
.section-cards {
	width: 100%;
	position: relative;
	background: url('./img/bg.jpeg') rgba(255, 255, 255, 0.6);
	background-blend-mode: overlay;
	background-size: cover;
	padding: 15rem 0;
}

.card__box {
	width: 75%;
	margin: 0 auto;
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: 1.6rem;
	transform: skewX(-12deg);
}

.card__img-box {
	width: 15rem;
	height: 15rem;
	float: left;
	shape-outside: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	transform: translateX(-3rem) skewX(12deg);
	border-radius: 50%;
}

.card__img {
	height: 100%;
	transform: translateX(-4rem) scale(1.4);
}
.card__img--woman {
	object-position: 4rem;
}
.card__text {
	transform: skewX(12deg);
}
.card__title {
	font-size: 1.6rem;
	margin-bottom: 1.5rem;
	font-weight: 700;
	color: #444;
	text-transform: uppercase;
}
.card__description {
	color: #444;
	line-height: 2.5rem;
}
.section-form {
	background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
	background-image: linear-gradient(
		to right,
		#7ed56f 50%,
		rgb(130, 191, 8) 80%
	);
}
.form {
	background-image: linear-gradient(
			105deg,
			rgba(241, 241, 241, 0.9) 0%,
			rgba(241, 241, 241, 0.9) 50%,
			transparent 50%
		),
		url(./img/bg.jpeg);
	background-position: 0 100%;
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.form__box {
	width: 50%;
	padding: 6rem;
}
.form__heading-box {
	margin-bottom: 4rem;
}
.form__heading {
	font-size: 2.4rem;
	text-transform: uppercase;
	background-image: linear-gradient(to right, #7ed56f, #28b485);
	color: transparent;
	letter-spacing: 0.2rem;
	-webkit-background-clip: text;
}
.form__group {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}
.form__input {
	font-size: 1.5rem;
	font-family: inherit;
	color: inherit;
	padding: 1.5rem 2rem;
	border-radius: 2px;
	background-color: rbga(#fff, 0.5);
	border: none;
	border-bottom: 3px solid transparent;
	width: 90%;
	display: block;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.form__radio-group {
	text-align: center;
	width: 49%;
	display: inline-block;
}
.form__input:focus {
	outline: none;
	border: 3px solid #55c57a;
	border-radius: 5px;
}
.form__radio-input {
	display: none;
}
.form__radio-label {
	font-size: 1.3rem;
	cursor: pointer;
	position: relative;
	color: rgb(88, 88, 88);
	padding-left: 4.5rem;
}
.form__radio-button {
	height: 2.5rem;
	width: 2.5rem;
	border: 3px solid #55c57a;
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	left: 0;
	top: -0.4rem;
}
.form__radio-button::after {
	content: '';
	display: block;
	height: 1.3rem;
	width: 1.3rem;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #55c57a;
	opacity: 0;
	transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
	opacity: 1;
}
.btn {
	margin-top: 4rem;
	outline: none;
	border: none;
	background-color: #55c57a;
	color: #fff;
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	padding: 1rem 2rem;
	border-radius: 1.5rem;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
	background-color: #59ce80;
	transform: translateY(-4px);
}

@media screen and (max-width: 700px) {
	.form {
		background-image: linear-gradient(
				105deg,
				rgba(241, 241, 241, 0.9) 0%,
				rgba(241, 241, 241, 0.9) 65%,
				transparent 65%
			),
			url(./img/bg.jpeg);
	}

	.form__box {
		width: 70%;
	}
}
@media screen and (max-width: 530px) {
	.form {
		background-image: linear-gradient(
				105deg,
				rgba(241, 241, 241, 0.9) 0%,
				rgba(241, 241, 241, 0.9) 80%,
				transparent 80%
			),
			url(./img/bg.jpeg);
	}

	.form__box {
		width: 90%;
	}
}

@media screen and (max-width: 920px) {
	.form__heading {
		font-size: 2rem;
	}
}

@media screen and (max-width: 852px) {
	.form__box {
		padding-left: 2rem;
	}
}

@media only screen and (max-width: 1200px) {
	.form__radio-group {
		width: 100%;
		margin-bottom: 2rem;
		text-align: left;
	}
	.form__radio-box {
		align-self: flex-start;
		flex-direction: column;
	}
}

@media screen and (max-width: 768px) {
	.sidebar--left {
		grid-row: 3/ -2;
	}
	.sidebar--right {
		grid-row: -1/ -1;
		grid-column: 1/2;
	}
	.main {
		grid-column: 2 / -1;
	}
	.nav {
		grid-column: 1 / -1;
	}
	.footer {
		grid-column: 2 / -1;
	}
}
@media only screen and (max-width: 962px) {
	.section-cards {
		padding: 4rem;
	}
	.card__box {
		width: 100%;
		padding: 4rem;
		padding-left: 7rem;
		transform: none;
	}

	.card__img-box {
		transform: translateX(-3rem);
	}
	.card__text {
		transform: none;
	}
}

@media only screen and (max-width: 768px) {
	.card__box {
		width: 100%;
		padding: 4rem;
		padding-left: 5rem;
	}
}
@media only screen and (max-width: 650px) {
	.card__box {
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1rem;
	}
	.card__img-box {
		transform: none;
	}
}
@media only screen and (max-width: 550px) {
	.section-cards {
		padding: 1rem;
	}
}
@media only screen and (max-width: 524px) {
	.card__box {
		transform: skewX(0);
	}
}
@media only screen and (max-width: 480px) {
	body {
		grid-template-rows: repeat(2, 1fr) max-content max-content 1fr 1fr;
	}
	.personal-card {
		position: sticky;
		flex-direction: row;
	}
	.personal-card__img-box {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.personal-card__img {
		width: 30%;
	}
	.main {
		grid-row: 3/4;
		grid-column: 1 / -1;
	}
	.sidebar--right {
		grid-column: 1 /-1;
		grid-row: 5/6;
	}
	.sidebar--left {
		flex-direction: row;
		grid-row: 4/ 5;
		grid-column: 1 /-1;
	}
	.footer {
		grid-column: 1 / -1;
		grid-row: 6 / -1;
	}
}

@media screen and (max-width: 350px) {
	.personal-card__img {
		padding: 0;
		border: none;
	}
}

