.star {
	&__icon {
		filter: drop-shadow(1px 2px 1px rgba(255, 217, 0, 0.56));

		width: 2rem;
		height: 2rem;
		fill: none;
		stroke: gold;
		stroke-width: 2;
		stroke-linejoin: round;
		stroke-linecap: round;

		&--filed {
			fill: gold;
		}
	}
}

