*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;
}
body {
	flex-direction: column;
	font-family: sans-serif;
	gap: 5rem;
	height: 100vh;
	font-size: 1.6rem;
	user-select: none;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.box {
	flex-direction: column;
	aspect-ratio: 1;
	border: 1px solid black;
	cursor: pointer;
	color: #000;
}
.top-box {
	gap: 5rem;
}
.box--1 {
	width: 300px;
	background-color: rgb(199, 199, 199);
}
.box--2 {
	width: 200px;
	background-color: tomato;
}
.box--3 {
	width: 100px;
	background-color: yellow;
}

.message-box {
	width: 300px;
	height: 300px;
	overflow-y: scroll;
	padding: 2rem;
	border-radius: 8px;
}

.score-box {
	width: 10rem;
	height: 10rem;
	padding: 2rem;
	font-size: 3rem;
	border-radius: 8px;
	background-color: rgb(73, 138, 249);
	color: #fff;
}

.control-box {
	gap: 2rem;
}

.disabled {
	background-color: rgb(82, 82, 82);
	color: #fff;
}

.btn {
	padding: 1rem 2rem;
	border: none;
	background-image: linear-gradient(to right, #74f2ce, #7cffcb);
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 8px;
	color: rgb(29, 29, 29);
}

