<header class="header">
	<div class="wrapper">
		<div class="header__text-box">
			<h1 class="header__title header__text">Tripper - Wycieczki</h1>
			<p class="header__description header__text">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel saepe
				totam, dolorem aperiam eveniet earum sint cum. Blanditiis dolorum minima
				repudiandae ea labore dignissimos! Molestias repudiandae impedit, unde
				laboriosam ad libero rem ut, illum quos fugiat dolore, ea a cum?
			</p>
			<button class="header__button header__button--empty" (click)="scrollTo()">
				Więcej info
			</button>
		</div>
	</div>
</header>
<main class="main">
	<section class="about" #about>
		<h2 class="about__title">Sprzedajemy wycieczki!</h2>
		<div class="about__box">
			<p class="about__text-title">Nagłówek 1</p>
			<p class="about__text">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
				provident illum commodi sed odit, fugiat praesentium beatae doloremque,
				fugit, cupiditate aperiam ullam placeat numquam maiores corporis labore
				iste dicta? Rerum expedita, perferendis excepturi obcaecati quae
				repellat dolorem asperiores nulla aperiam velit autem laboriosam ullam
				animi aspernatur temporibus, laborum quos optio maiores, maxime eaque id
				earum pariatur sapiente. Pariatur quaerat iusto voluptatem beatae
				consectetur facere expedita magnam, iure quae totam vero itaque error
				numquam praesentium vel sit ullam corporis saepe eum.
			</p>
		</div>
		<div class="about__box">
			<p class="about__text-title">Nagłówek 2</p>
			<p class="about__text">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
				provident illum commodi sed odit, fugiat praesentium beatae doloremque,
				fugit, cupiditate aperiam ullam placeat numquam maiores corporis labore
				iste dicta? Rerum expedita, perferendis excepturi obcaecati quae
				repellat dolorem asperiores nulla aperiam velit autem laboriosam ullam
				animi aspernatur temporibus, laborum quos optio maiores, maxime eaque id
				earum pariatur sapiente
			</p>
		</div>
		<p class="about__circle about__circle--1"></p>
		<p class="about__circle about__circle--2"></p>
		<p class="about__circle about__circle--3"></p>
		<p class="about__circle about__circle--4"></p>
		<p class="about__circle about__circle--5"></p>
		<p class="about__circle about__circle--6"></p>
		<p class="about__circle about__circle--7"></p>
		<p class="about__circle about__circle--8"></p>
	</section>

	<section class="trips" #about>
		<h2 class="trips__title">Gdzie nas znaleźć?</h2>
		<div class="trips__wrapper">
			<div class="trips__box">
				<p class="about__text-title">Nagłówek 1</p>
				<p class="about__text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
					provident illum commodi sed odit, fugiat praesentium beatae
					doloremque, fugit, cupiditate aperiam ullam placeat numquam maiores
					corporis labore iste dicta? Rerum expedita, perferendis excepturi
					obcaecati quae repellat dolorem asperiores nulla aperiam
				</p>
			</div>

			<div class="trips__box">
				<p class="about__text-title">Nagłówek 1</p>
				<p class="about__text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
					provident illum commodi sed odit, fugiat praesentium beatae
					doloremque, fugit, cupiditate aperiam ullam placeat numquam maiores
					corporis labore iste dicta? Rerum expedita, perferendis excepturi
					obcaecati quae repellat dolorem asperiores nulla aperiam
				</p>
			</div>

			<div class="trips__box">
				<p class="about__text-title">Nagłówek 1</p>
				<p class="about__text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
					provident illum commodi sed odit, fugiat praesentium beatae
					doloremque, fugit, cupiditate aperiam ullam placeat numquam maiores
					corporis labore iste dicta? Rerum expedita, perferendis excepturi
					obcaecati quae repellat dolorem asperiores nulla aperiam
				</p>
			</div>
			<div class="trips__box">
				<p class="about__text-title">Nagłówek 1</p>
				<p class="about__text">
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus
					provident illum commodi sed odit, fugiat praesentium beatae
					doloremque, fugit, cupiditate aperiam ullam placeat numquam maiores
					corporis labore iste dicta? Rerum expedita, perferendis excepturi
					obcaecati quae repellat dolorem asperiores nulla aperiam
				</p>
			</div>
		</div>
		<div class="mapouter">
			<div class="gmap_canvas">
				<iframe
					class="gmap_iframe"
					width="100%"
					frameborder="0"
					scrolling="no"
					marginheight="0"
					marginwidth="0"
					src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=akademia górniczo hutnicza&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
				></iframe
				><a href="https://piratebay-proxys.com/">Piratebay</a>
			</div>
		</div>
	</section>
</main>
<footer class="footer">
	<div class="footer__box">
		<p class="footer__name">Tripper - wycieczki</p>
		<div class="footer__contact">
			<p class="footer__name">Tel: 555-555-55</p>
			<p class="footer__name">E-mail: example@example.com</p>
			<p class="footer__name">Address: Kraków, ul. Czarowiejksa 24A</p>
		</div>

		<p class="footer__copyright">
			&copy; <span class="footer__year"></span> | Paweł Motyka. All rights
			reserved
		</p>
	</div>
</footer>

