<div class="history">
	<div class="history__filters">
		<div class="history__item-box history__item-box--mosaic">
			<p
				class="history__list-item-name"
				(click)="clickHandler($event)"
				*ngFor="let filter of filters"
				[ngClass]="{ active: isSelectedHandler(filter) }"
				[id]="filter"
			>
				{{ filter }}
			</p>
		</div>
	</div>

	<app-history-card
		class="card"
		*ngFor="let trip of tripsInHistory | statusFilter : activeFilters"
		[trip]="trip"
	></app-history-card>

	<div class="spinner__wrapper">
		<div
			*ngIf="!tripsInHistory.length"
			class="spinner-border"
			style="width: 3rem; height: 3rem; padding: 2rem"
			role="status"
		>
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
</div>

